body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    /* position: absolute;
    left: 35%;
    top: 50%;
    */
    text-align: center;
    margin: 0 auto;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 15px;
}

.drum {
    display: inline-block;
    border: 3px solid;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 7px 3px 3px 3px;
    margin: 5px;
    font-style: oblique;
    border-color: #f90;
    transition: all 0.07s;
}

.playing {
    transform: scale(1.4);
}

